include partials/head.pug
header
  img.logo(src='Nagy Scan.svg')
  h1 Welcome, Dr #{d_un}
section.patient-info
  h2 Patient-Info:
  p Name: #{p_un}
  p Diabetes: #{diab}
  p Hypertension: #{hypt}
section.test-results
  h2 Test Results
  table
    tr
      th Test
      th Result
    tr
      td COVID-19
      td #{t_res}
  br
  button.print-button(onclick='window.print()') Print
  p Thank you for choosing us for your healthcare needs.
include partials/footer.pug
